@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    font-size: 14px;

}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ADC4C9;
}



#content{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;

    background-color: #ADC4C9;
}

#sidebar{
    height: 100%;
    width: 200px;
    background-color: #203135;
}

#board{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 20px;
    background-color: #5B9CB7;
    height: 60vh;
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    overflow: auto;
    padding: 50px;
}

.cards{

    width: 200px;
    height: 150px;
    background-color: antiquewhite;
    padding: 10px;
    overflow-wrap: break-word;
}


#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 20px;

}

.button{
    width: 120px;
    height: 50px;
    font-size: 2rem;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color: rgb(10,10,10, .2);
    font-family: 'Bebas Neue', cursive;
}

textarea {
    resize: none;
}
  

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 200px;
    background-color: white;
    position: absolute;
    margin-top: 20vh;
    margin-left:  2vw;
    z-index: 3;

    gap: 10px;
}

form>div{
    display: flex;
    margin-top: 20px;
    gap: 2vw;
}

#description{
    height: 50px;
}
